# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Prisma generated client
src/generated/

# env / secrets
.env
.env.*
!.env.example

# testing
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.log
/blob-report/
/playwright/.cache/
